# Local customizations
GNUmakefile.local

# Pharo 
pharo/pharo*
pharo/Pharo*
pharo/icon-packs
pharo/progress.log
pharo/*.image
pharo/*.changes
pharo/*Test.xml
pharo/bin
pharo/lib
pharo/Pharo*.zip
pharo/*.o
pharo/*.s

# Smalltalk/X
stx/stx
stx/package-cache
stx/*Test.xml
stx/*.o
stx/*.s


# External dependencies
3rdparty

# opcodesgen by-products
opcodesgen/opcodes.m4
opcodesgen/opcodes.st

# test shell by-products
shell.o
shell-*

# git merge by-products
*.orig

# Gem5 by-products
stx/m5out
pharo/m5out

